.title {
    color: #000000;
    font-size: 34px;
    line-height: 120%;
    text-transform: uppercase;
    font-weight: 700;
    display: block;
    margin: 0;
    font-family: 'Rubik', sans-serif;
  }
